fastapi
psycopg2-binary
psycopg
grpcio-tools
grpcio
SQLAlchemy
pydantic
pydantic[email]
uvicorn[standard]
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pytest
python-dotenv
alembic
email-validator
python-decouple
gunicorn
pytesseract
pymongo
pillow
tabula-py[jpype]
pandas
ghostscript
pika
aio-pika
python-multipart
